<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Update User | Riyaz J</title>

    <!-- Bootstrap core CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css} "/>

    <!-- Datatable core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.23/css/jquery.dataTables.css}"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/kitchen-store.css}" rel="stylesheet"/>
</head>

<body>

<!-- ======= Container-Fluid Section ======= -->
<div class="container-fluid p-0">
    <!-- ======= Navbar Section ======= -->
    <th:block th:replace="fragments/header :: nav-bar"></th:block>
    <!-- End Navbar -->

    <!-- ======= Container Section ======= -->
    <div class="container my-5">
        <div class="w-100 mb-3">
            <h1>Update User Details</h1>
        </div>
        <form
                th:action="@{/user/update/{id}(id=${user.id})}"
                method="POST"
                th:object="${user}"
                id="form-section"
        >
            <table id="example" class="display w-100">
                <thead>

                </thead>
                <tbody>
                <!--                    Name field-->
                <tr>
                    <th>Name</th>
                    <td>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                th:field="*{name}"
                                name="name"
                                th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                required
                        />
                        <div
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="text-danger"
                        >
                            Please create a strong password.
                        </div>
                    </td>
                </tr>

                <!--                    Email ID field-->
                <tr>
                    <th>Email ID</th>
                    <td>
                        <input
                                type="email"
                                class="form-control"
                                id="email-id"
                                th:field="*{email}"
                                placeholder="j.riyazu@gmail.com"
                                required
                                th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                autofocus
                                minlength="6"
                        />
                        <div
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"
                                class="text-danger"
                        >
                            Please provide valid Email ID.
                        </div>
                    </td>
                </tr>

                <!--                    Gender field-->
                <tr>
                    <th>Gender</th>
                    <td>
                        <select
                                class="form-select"
                                id="gender"
                                th:field="*{gender}"
                                th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' : ''"
                                autofocus
                                required
                        >
                            <option th:each="sex : ${gender}" th:value="${sex}"
                                    th:text="${sex}"
                                    th:selected="${sex == user.gender}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('gender')}"
                                th:errors="*{gender}"
                                class="text-danger"
                        >
                            Please select your Gender.
                        </div>
                    </td>
                </tr>

                <!--                    Password field-->
                <tr class="d-none">
                    <th>Password</th>
                    <td>
                        <input
                                type="text"
                                class="form-control"
                                id="password"
                                th:field="*{password}"
                                th:value="${param.user}"
                                placeholder="Your Password"
                                required
                                autofocus
                                th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                minlength="4"
                        />
                        <div
                                th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}"
                                class="text-danger"
                        >
                            Please create a strong password.
                        </div>
                    </td>
                </tr>

                <!--                    Address field-->
                <tr>
                    <th>Address</th>
                    <td>
                        <input
                                type="text"
                                class="form-control"
                                id="address"
                                th:field="*{address}"
                                th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''"
                                placeholder="#door-no, street, landmark"
                                required
                                autofocus
                                minlength="4"
                        />
                        <div
                                th:if="${#fields.hasErrors('address')}"
                                th:errors="*{address}"
                                class="text-danger"
                        >
                            Please enter valid address.
                        </div>
                    </td>
                </tr>

                <!--                    City field-->
                <tr>
                    <th>City</th>
                    <td>
                        <input
                                type="text"
                                class="form-control"
                                id="city"
                                th:field="*{city}"
                                th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : ''"
                                autofocus
                                placeholder="Bengaluru"
                                minlength="4"
                                required
                        />
                        <div
                                th:if="${#fields.hasErrors('city')}"
                                th:errors="*{city}"
                                class="text-danger"
                        >
                            Please provide a valid city.
                        </div>
                    </td>
                </tr>

                <!--                    State field-->
                <tr>
                    <th>State</th>
                    <td>
                        <input
                                class="form-control"
                                id="state"
                                th:field="*{state}"
                                th:classappend="${#fields.hasErrors('state')} ? 'is-invalid' : ''"
                                autofocus
                                required
                                list="states"
                        />
                        <datalist id="states">
                            <option
                                    th:each="state : ${states}"
                                    th:value="${state}"
                                    th:text="${state}"
                                    th:selected="${state == user.state}"
                            ></option>
                        </datalist>
                        <div
                                th:if="${#fields.hasErrors('state')}"
                                th:errors="*{state}"
                                class="text-danger"
                        >
                            Please select a valid state.
                        </div>
                    </td>
                </tr>

                <!--                    Zipcode field-->
                <tr>
                    <th>Zipcode</th>
                    <td>
                        <input
                                type="text"
                                class="form-control"
                                id="zip-code"
                                th:field="*{zipcode}"
                                th:classappend="${#fields.hasErrors('zipcode')} ? 'is-invalid' : ''"
                                placeholder="560006"
                                autofocus
                                required
                        />
                        <div
                                th:if="${#fields.hasErrors('zipcode')}"
                                th:errors="*{zipcode}"
                                class="text-danger"
                        >
                            Please provide a valid zip.
                        </div>
                    </td>
                </tr>

                <!--                    User Roles field-->
                <tr>
                    <th>User Roles</th>
                    <td>
                        <select
                                class="form-select"
                                id="user-role"
                                th:field="*{userRole}"
                                th:classappend="${#fields.hasErrors('userRole')} ? 'is-invalid' : ''"
                                required
                                autofocus
                        >
                            <option th:each="role : ${roles}" th:value="${role}"
                                    th:text="${role}"
                                    th:selected="${role == user.userRole}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('userRole')}"
                                th:errors="*{userRole}"
                                class="text-danger"
                        >
                            Please select a valid state.
                        </div>
                    </td>
                </tr>

                <!--                    Account Not Expired field-->
                <tr>
                    <th>Account Not Expired</th>
                    <td>
                        <select
                                class="form-select"
                                id="isAccountNonExpired"
                                th:field="*{isAccountNonExpired}"
                                th:classappend="${#fields.hasErrors('isAccountNonExpired')} ? 'is-invalid' : ''"
                                required
                                autofocus
                        >
                            <option th:each="statement : ${statements}" th:value="${statement}"
                                    th:text="${statement}"
                                    th:selected="${statement == user.isAccountNonExpired}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('isAccountNonExpired')}"
                                th:errors="*{isAccountNonExpired}"
                                class="text-danger"
                        >
                            Please provide a valid zip.
                        </div>
                    </td>
                </tr>

                <!--                    Account Non Locked field-->
                <tr>
                    <th>Account Non Locked</th>
                    <td>
                        <select
                                class="form-select"
                                id="isAccountNonLocked"
                                th:field="*{isAccountNonLocked}"
                                th:classappend="${#fields.hasErrors('isAccountNonLocked')} ? 'is-invalid' : ''"
                                required
                                autofocus
                        >
                            <option th:each="statement : ${statements}" th:value="${statement}"
                                    th:text="${statement}"
                                    th:selected="${statement == user.isAccountNonLocked}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('isAccountNonLocked')}"
                                th:errors="*{isAccountNonLocked}"
                                class="text-danger"
                        >
                            Please provide a valid zip.
                        </div>
                    </td>
                </tr>

                <!--                    Credentials Non Expired field-->
                <tr>
                    <th>Credentials Non Expired</th>
                    <td>
                        <select
                                class="form-select"
                                id="isCredentialsNonExpired"
                                th:field="*{isCredentialsNonExpired}"
                                th:classappend="${#fields.hasErrors('isCredentialsNonExpired')} ? 'is-invalid' : ''"
                                required
                                autofocus
                        >
                            <option th:each="statement : ${statements}" th:value="${statement}"
                                    th:text="${statement}"
                                    th:selected="${statement == user.isCredentialsNonExpired}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('isCredentialsNonExpired')}"
                                th:errors="*{isCredentialsNonExpired}"
                                class="text-danger"
                        >
                            Please provide a valid zip.
                        </div>
                    </td>
                </tr>

                <!--                    Is Enabled field-->
                <tr>
                    <th>Is Enabled</th>
                    <td>
                        <select
                                class="form-select"
                                id="isEnabled"
                                th:field="*{isEnabled}"
                                th:classappend="${#fields.hasErrors('isEnabled')} ? 'is-invalid' : ''"
                                required
                                autofocus
                        >
                            <option th:each="statement : ${statements}" th:value="${statement}"
                                    th:text="${statement}"
                                    th:selected="${statement == user.isEnabled}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('isEnabled')}"
                                th:errors="*{isEnabled}"
                                class="text-danger"
                        >
                            Please provide a valid zip.
                        </div>
                    </td>
                </tr>

                <!--                    Terms & Conditions field-->
                <tr>
                    <th>Terms & Conditions</th>
                    <td>
                        <select
                                class="form-select"
                                id="terms"
                                th:field="*{terms}"
                                th:classappend="${#fields.hasErrors('terms')} ? 'is-invalid' : ''"
                                required
                                autofocus
                        >
                            <option th:each="statement : ${statements}" th:value="${statement}"
                                    th:text="${statement}"
                                    th:selected="${statement == user.terms}"></option>
                        </select>
                        <div
                                th:if="${#fields.hasErrors('terms')}"
                                th:errors="*{terms}"
                                class="text-danger"
                        >
                            Please provide a valid zip.
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>Update</th>
                    <th>
                        <button type="submit" class="btn btn-info btn-sm btn-block w-100">Update</button>
                    </th>
                </tr>
                </tfoot>

            </table>
        </form>
    </div>
    <!-- End Container  -->

    <!-- ======= Footer Section ======= -->
    <th:block th:replace="fragments/footer :: footer"></th:block>
    <!-- End Footer  -->
</div>
<!-- End  Container-Fluid -->

<!--jQuery JS dependency-->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

<!--Bootstrap JS dependency-->
<script th:src="@{/webjars/bootstrap/5.0.0-beta2/js/bootstrap.min.js}"></script>

<!--Datatables JS dependency-->
<script th:src="@{/webjars/datatables/1.10.23/js/jquery.dataTables.js}"></script>

<!--Custom JS-->
<script th:src="@{/js/kitchen-store.js}"></script>

<script>
   $(document).ready(function () {
     $("#example").DataTable();
   });


</script>
</body>

</html>